
#headSelected {
    text-decoration: underline;
}

.topTwoTextBox,
.bottomTwoTextBox {
    min-height: 60vh;
    width: 90vw;
    max-width: 1190px;
    background-color: #1A1A1A;
    margin: 2rem auto;
    position: relative;
    padding: 20px 2%;
    text-align: left;
    font-size: 1.2em;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    border-radius: 20px;
}

.topTwoTextBox {
    min-height: 20vh;
}

#topExplore {
    text-align: center;
    color: chocolate;
}

.exhibitionSpacesImage {
    position: relative;
    text-align: center;
    margin-top: 20px;
}

#exhibitionSpaces {
    height: 1400px;
}

#exhibitionImage {
    height: 15%;
    max-height: 270px;
    width: 91vw;  
    max-width: 1190px; 
    min-width: 280px;  
    object-fit: cover; 
    border-radius: 20px; 
    margin: 0 auto;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

#textExhibition {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    text-align: center;
    color: rgb(0, 104, 136);
}

h2 {
    color: chocolate;
}

.fivePackBox {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1100px;
}

.firstBox,
.secondBox,
.thirdBox,
.fourthBox,
.fifthBox {
    min-height: 45vh;
    width: 33%;
    background-color: #1A1A1A;
    margin: 0.1rem;
    position: relative;
    padding: 10px 2%;
    text-align: left;
    font-size: 1.5em; 
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    border-radius: 20px;
}

h3 {
    color: aqua;
    font-style: italic;
}

.specialEventsImage {
    position: relative;
    text-align: center;
    margin-top: 20px;
}


#specialImage {
    height: 15%;
    max-height: 270px;
    width: 91vw;  
    max-width: 1190px; 
    min-width: 280px;  
    object-fit: cover; 
    border-radius: 20px; 
    margin: 0 auto;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

#textSpecial {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
    text-align: center;
    color: rgb(0, 0, 0);
}


.threePackBoxTop {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1100px;
}

.firstTripleBox,
.secondTripleBox,
.thirdTripleBox {
    min-height: 45vh;
    width: 33%;
    background-color: #1A1A1A;
    margin: 0.1rem;
    position: relative;
    padding: 10px 2%;
    text-align: left;
    font-size: 1.5em;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    border-radius: 20px;
}

h4 {
    color: cornflowerblue;
}

.visitUsImage {
    position: relative;
    text-align: center;
    margin-top: 20px;
}


#visitImage {
    height: 15%;
    max-height: 270px;
    width: 91vw;  
    max-width: 1190px; 
    min-width: 280px;  
    object-fit: cover; 
    border-radius: 20px; 
    margin: 0 auto;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

#textVisit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    text-align: center;
    color: rgb(252, 252, 252);
}

.doubleBox {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1100px;
}

.firstDouble,
.secondDouble {
    min-height: 45vh;
    width: 49%;
    color: black;
    background-color: #d1d1d1;
    margin: 0.3rem;
    position: relative;
    padding: 18px 2%;
    text-align: left;
    font-size: 1.5em;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgb(143, 143, 143); 
    border-radius: 20px;
}

h5 {
    font-size: 1.5em;
    margin: 0;
}

#hourLinkTag {
    text-decoration: underline;
}

.getInvolvedImage {
    position: relative;
    text-align: center;
    margin-top: 20px;
}

#involvedImage {
    height: 15%;
    max-height: 270px;
    width: 91vw;  
    max-width: 1190px; 
    min-width: 280px;  
    object-fit: cover; 
    border-radius: 20px; 
    margin: 0 auto;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

#textInvolved {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    color: rgb(252, 252, 252);
}

.lowRowCode {
    color: rgb(0, 98, 196);
}

.tripleRow {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.firstRowBox,
.secondRowBox,
.thirdRowBox {
    min-height: 28vh;
    width: 91%;
    max-width: 1190px;
    background-color: #1A1A1A;
    margin: 0.1rem;
    position: relative;
    padding: 10px 2%;
    text-align: left;
    font-size: 1.7em;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    border-radius: 20px;
}

@media screen and (max-width: 954px) {

    .firstBox,
    .secondBox,
    .thirdBox,
    .fourthBox,
    .fifthBox,
    .firstTripleBox,
    .secondTripleBox,
    .thirdTripleBox {
        width: 49%;
    }

    .firstDouble,
    .secondDouble {
        width: 93%;
    }
}

@media screen and (max-width: 700px) {

    .firstBox,
    .secondBox,
    .thirdBox,
    .fourthBox,
    .fifthBox,
    .firstTripleBox,
    .secondTripleBox,
    .thirdTripleBox,
    .firstDouble,
    .secondDouble {
        width: 90%;
    }
}


