body {
    background-image: url('Images/images/paper-wrinkled-white-cute-preview.jpg');
    background-position: center;
    background-size: cover;
    color: white;
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

html {
    scroll-behavior: smooth;
}

a, a:visited, a:active  {
    color: inherit;
    text-decoration: none;
}

/* Header :D */

header {
    width: 100%;
    height: 16vh;
    background-image: url('Images/images/open-book-with-white-background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}
header a:hover {
    text-decoration: underline;
}

.header-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header-links {
    display: flex;
    list-style: none;
    padding: 35px;
    color: rgb(0, 0, 0)
}

.header-link {
    text-decoration: none;
    color:rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.183);
    font-weight: bold;
    font-size: 1.5em;
    margin-right: 15px;
    margin-left: 1vw;
    margin-top: 7vh;
}

/* Footer :D */

footer {
    margin-top: auto;
    background-color: #1A1A1A;
    color: #fff;
    text-align: center;
    padding: 20px;
}


.footerBox {
    width: 80vw;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.column {
    flex: 1;
    text-align: left;
}

/* Media Query :D */

@media screen and (max-height: 700px) {

header {
    height: 22vh;
}
    

}