@import url(CSS/Header+Footer.css);

#headSelected {
    text-decoration: underline;
}

.singleImageContainer {
    text-align: center;
    margin-top: 20px;
}

.image2class {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topImageTest {
    margin: 1rem;
    position: relative;
}

.overLayTextSingle {
position: absolute;
top: 18%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 2em;
font-weight: bold;
text-shadow: 1px 1px 2px rgb(0, 0, 0);
text-align: center;
color: white;
}

#image2 {
    height: 10%;
    max-height: 500px;
    width: 96vw;  
    max-width: 1190px; 
    min-width: 280px;  
    object-fit: cover; 
    border-radius: 20px; 
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(176, 123, 1, 0.5); 
}

#image2, #image3, #image4, #image5, #image6 {
    filter: blur(1px);
    -webkit-filter: blur(1px);
}

.quadContainer {
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
}

.quadImageTest {
    margin: 1rem 2rem;
    position: relative;
}

.quadImage {
    border-radius: 20px;
    height: 50vh;
    max-height: 600px;
    width: 44vw;
    max-width: 560px;
    min-width: 280px;
    display: inline-block;
    object-fit: cover;
}

.overLayTextQuad {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2em;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    color: white;
}

.boxContainer {
    text-align: center;
    display: flex;
    justify-content: center;
    max-width: 1240px;
    margin: 0 auto;
}

.squareBox {
    min-height: 45vh;
    width: 44vw;
    max-width: 100%;
    color: black;
    background-color: #d1d1d1;
    margin: 1rem 2rem;
    position: relative;
    padding: 18px 2%;
    text-align: left;
    font-size: 1.5em;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgb(143, 143, 143); 
    border-radius: 20px;
}

.squareBoxCenter {
    text-align: center;
}


@media screen and (max-width: 768px) {
    #image2 {
        width: 90vw;
    }

    .quadContainer,
    .boxContainer {
        flex-direction: column;
        align-items: center;
    }

    .quadImageTest {
        margin: 0.5rem;
    }

    .quadImage {
        width: 90vw;
        max-width: 100%;
        height: 35vh;
        max-height: 308px;
    }

    .squareBox {
        width: 90vw;
    }

}

@media screen and (max-height: 700px) {
    .quadImage {
        height: 100vh;
    }

}

a {
    text-decoration: none;
    color: inherit; 
}
